<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="icon" href="../assets/favicon.png" type="image/png">
    <link rel="stylesheet" href="../assets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@700&family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo-container">
          <img class="logo" src="../assets/favicon.png"/>
        </div>
        <div class="Title">
            <h1><span id="G">G</span>roupie <span id="T">T</span>racker</h1>
        </div>
        <div class="nav-items">
          <ul>
            <a href="/"><li class="li1">Home</li></a>
            <a href="/about"><li class="li1">About</li></a>
          </ul>
        </div>
    </div>

    <div class="Displaybody">
        {{range .}}
        <div class="card-container" onclick="window.location.href='/artist/{{.Id}}'">
            <img src="{{.Image}}" alt="{{.Name}} image" class="card-image">
            <div class="card-info">
                <h2>{{.Name}}</h2>
            </div>
        </div>
        {{end}}
    </div>
    <footer class="footer">
        <p>&copy; 2024 Groupie Tracker. All Rights Reserved.</p>
    </footer>
</body>
</html>
